body {
    color: #222;
    font-family: sans-serif;
    border-top: 5px #08c solid !important;
}

.box {
    padding: 0.65em;
    background: #ecf2f5;
    border: 1px solid #bcd;
    margin-bottom: 2em;
}

a {
    color: #07b;
    text-decoration: none;
}

/* External link symbol derived from Wikipedia's. Thanks! */
a[href^=http] {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em'%3E%3Cpath fill='%23ecf2f5' stroke='%2307b' d='M1.5 4.518h5.982V10.5H1.5z'/%3E%3Cpath fill='%2307b' d='M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z'/%3E%3Cpath fill='%23ecf2f5' d='M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z'/%3E%3C/svg%3E%0A");
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 1.1em;
}


pre {
    background-color: #dfd;
    font-family: monospace;
    border: 1px solid #bdb;
    overflow: auto;
    word-break: break-all;
    white-space: pre-wrap !important;
    padding: 0.5em;
    margin: 1em;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table .wrap {
    white-space: normal;
}

th, td {
    white-space: nowrap;
    text-align: left;
}

th {
    vertical-align: middle;
    font-weight: bold;
}

td {
    vertical-align: top;
}

table.results {
    font-size: 0.846em;
    border-top: 1px dotted #999;
    border-bottom: 1px dotted #999;
    width: 100%;
}

table.results tbody tr:nth-child(odd) {
    background-color: #e4eeff;
}

table.results tbody tr:nth-child(even) {
    background-color: #fff;
}

.results th {
    padding: 0.5em 1em 0.25em 0.25em;
    border-bottom: 1px solid #999;
    white-space: nowrap;
    background-color: #fff;
    text-align: left;
    vertical-align: middle;
    font-weight: bold;
}

.results td {
    padding: .3em 1em .3em 3px;
}

.results tr.odd {
    background: #fff;
}

.results tr.even {
    background: #e4eeff;
}

.results .flagged {
    color: red;
}

.results tr.empty td {
    text-align: center;
}

#metadata {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    grid-auto-rows: min-content;
    grid-template-areas: 
    "a b"
    "c b";
    align-items: start;
}

#metadata h3 {
    background: #555;
    color: #fff;
    font-size: 1em;
    margin-bottom: 0.5em;
    padding: 0.2em 0.35em;
}

#metadata ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#metadata li {
    padding-left: 0.5em;
}

#metadata p {
    padding-left: 0.5em;
}

#pkgdeps {
    grid-area: a;
}

#pkgoptdeps {
    grid-area: c;
}

#pkgfiles {
    grid-area: b;
}

#pkgfiles li.d {
    color: #666;
}

.pkgdepslist .filesize {
    font-size: small;
}

#footer {
    clear: both;
    margin: 2em 0 1em
}

#footer p {
    margin: 0;
    text-align: center;
    font-size: .85em;
}
